# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignores de Seba
obj/
bin/
sonar-project.properties
.sonar
.vscode
.idea
build/

# Cosas de latex
# Si hace falta agregar un pdf, agregar a mano
*.log
*.aux
*.pdf
*.toc
*.synctex.gz

CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
cmake-build-debug

# Otros ignores especificos del tp
dist_hashmap
CMakeLists.txt
